# Target
CONFIG_IDF_TARGET="esp32h2"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# USB Serial/JTAG console (ESP32-H2)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Zigbee (IEEE 802.15.4 native radio on ESP32-H2)
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y
CONFIG_ZB_RADIO_NATIVE=y
CONFIG_IEEE802154_ENABLED=y
CONFIG_IEEE802154_RX_BUFFER_SIZE=20

# Increase main task stack for Zigbee + console coexistence
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

