# Target
CONFIG_IDF_TARGET="esp32h2"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# USB Serial/JTAG console (ESP32-H2)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

